
sork_in_place_test/.vs/sork_in_place_test/v16/Browse.VC.db
sork_in_place_test/.vs/sork_in_place_test/v16/Browse.VC.opendb
sork_in_place_test/.vs/sork_in_place_test/v16/ipch/AutoPCH/fe3591f58e635e38/SORK_IN_PLACE_TEST.ipch
sork_in_place_test/Debug/sork_in_.5B28F80C.tlog/CL.command.1.tlog
sork_in_place_test/Debug/sork_in_.5B28F80C.tlog/CL.read.1.tlog
sork_in_place_test/Debug/sork_in_.5B28F80C.tlog/CL.write.1.tlog
sork_in_place_test/Debug/sork_in_.5B28F80C.tlog/link.command.1.tlog
sork_in_place_test/Debug/sork_in_.5B28F80C.tlog/link.read.1.tlog
sork_in_place_test/Debug/sork_in_.5B28F80C.tlog/link.write.1.tlog
sork_in_place_test/Debug/sork_in_.5B28F80C.tlog/sork_in_place_test.lastbuildstate
sork_in_place_test/Debug/sork_in_place_test.vcxproj.FileListAbsolute.txt
sork_in_place_test/Debug/vc142.idb
sork_in_place_test/sork_in_place_test.vcxproj.filters
